:root {
    --offset: 6px;
}

.index-main-div {
    height: 100vh;
    width: 100%;
}

.index-header {
    height: 3.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-buttons {
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.create-room-btn {
    height: 2.3rem;
    width: 6.8rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(126, 69, 180);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
    font-weight: 600;
    box-shadow: 0 0 10px rgb(228, 228, 228);
}

.join-room-btn {
    height: 2.3rem;
    width: 6.8rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(126, 69, 180);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
    font-weight: 600;
    box-shadow: 0 0 10px rgb(228, 228, 228);
}

.index-header p {
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin: 0 0 0 2rem;
}

.index-body-wrapper {
    height: calc(100vh - 3.5rem);
    width: 100%;
    /* background-color: rgb(64, 19, 105); */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* animation */
@keyframes backgroundColorPalette {
    0% {
        background: rgb(56, 8, 102);
    }

    25% {
        background: rgb(89, 35, 135);
    }

    50% {
        background: rgb(52, 15, 86);
    }

    75% {
        background: rgb(99, 45, 150);
    }

    100% {
        background: rgb(48, 13, 81);
    }
}

.textarea-wrapper {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.textarea-wrapper p {
    width: 60%;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0 0 0 0;
    text-align: center;
}

.textarea-wrapper textarea {
    height: 80%;
    width: 60%;
    overflow-y: scroll;
    margin: 1.5rem 0 0 0;
    resize: none;
    padding: 0.5rem 0 0 0.7rem;
    border-radius: 8px;
    border: none;
}

textarea:focus {
    /* text-decoration: none; */
    outline: none;
    border: 2px solid rgb(216, 182, 248);
}

/* scrollbar */
textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

textarea::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: white;
}

.buttons-wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 1rem 0 0 0;
}

.save-btn {
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(141, 98, 193);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
    font-weight: 600;
}

.cancel-btn {
    height: 2.5rem;
    width: 6rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(216, 71, 49);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

/* word-rotation */
.mask {
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica;
    /* line-height: 1.06;
    letter-spacing: -0.02em; */
    height: 4.7rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    padding-bottom: 10px;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-repeat: no-repeat;
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    /* background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1); */
    color: rgb(180, 138, 248);
}

.mask span:nth-child(2) {
    /* background-image: linear-gradient(45deg, #18e198 50%, #0ec15d); */
    color: rgb(180, 138, 248)
}

.mask span:nth-child(3) {
    /* background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c); */
    color: rgb(180, 138, 248)
}

.mask span:nth-child(4) {
    /* background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c); */
    color: rgb(180, 138, 248)
}

@media only screen and (max-width: 500px) {
    .mask {
        font-size: 22px;
        font-weight: bold;
        font-family: Helvetica;
        /* line-height: 1.06;
    letter-spacing: -0.02em; */
        height: 4rem;
        width: 95%;
        position: relative;
        overflow: hidden;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mask span {
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 70px;
        padding-bottom: 10px;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        /* -webkit-text-fill-color: transparent; */
        background-repeat: no-repeat;
        text-align: center;
    }

    .textarea-wrapper textarea {
        height: 80%;
        width: 88%;
        overflow-y: scroll;
        margin: 1.5rem 0 0 0;
        resize: none;
        padding: 0.5rem 0 0 0.7rem;
        border-radius: 8px;
        border: none;
    }

    .buttons-wrapper {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 0 0;
    }

    .textarea-wrapper {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1.5rem 0 0 0;
    }

    .header-buttons {
        width: 87%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .create-room-btn {
        height: 2.3rem;
        width: 6.8rem;
        border: none;
        border-radius: 4px;
        background-color: rgb(126, 69, 180);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5rem 0 0;
        font-weight: 600;
        box-shadow: 0 0 10px rgb(228, 228, 228);
    }

    .join-room-btn {
        height: 2.3rem;
        width: 6.8rem;
        border: none;
        border-radius: 4px;
        background-color: rgb(126, 69, 180);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5rem 0 0;
        font-weight: 600;
        box-shadow: 0 0 10px rgb(228, 228, 228);
    }
}
/* ------------------- */

/* modal1 */
.modal1-header {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal1-header p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.modal1-body {
    padding: 0.3rem 1.5rem 0.5rem 1.5rem;
    width: 100%;
}

.modal1-footer {
    width: 100%;
    padding: 0.3rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.create-btn {
    height: 2.3rem;
    width: 6.8rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(126, 69, 180);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 0 0;
    font-weight: 600;
    box-shadow: 0 0 10px rgb(228, 228, 228);
}

.name-input-wrapper {
    width: 100%;
    padding: 0.5rem;
}

.password-input-wrapper {
    width: 100%;
    padding: 0.5rem;
    margin: 0.3rem 0 0 0;
}

.modal-input-text {
    margin: 0 0 0.6rem 0;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.modal-input {
    width: 100%;
    height: 2.4rem;
    background-color: rgb(232, 229, 229);
    border: none;
    /* border: 1px solid #d2cdcd; */
    border-radius: 4px;
    padding: 0 0 0 0.5rem;
    color: rgb(71, 71, 71);
    font-size: 14px;
}

.modal-input::placeholder {
    font-size: 13px;
}

.modal-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem rgb(179, 169, 253);
    background-color: white;
}